name: Terraform ASG Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy (dev/prod)"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prod
      action:
        description: "Terraform Action"
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        working-directory: terraform_asg
        run: terraform init -backend-config="key=${{ github.event.inputs.environment }}/terraform.tfstate"

      - name: Terraform Validate
        working-directory: terraform_asg
        run: terraform validate

      - name: Terraform Plan
        if: github.event.inputs.action == 'plan'
        working-directory: terraform_asg
        run: terraform plan -var-file=terraform.tfvars

      - name: Terraform Apply
        if: github.event.inputs.action == 'apply'
        working-directory: terraform_asg
        run: terraform apply -auto-approve -var-file=terraform.tfvars
